*{
  box-sizing: border-box;
}
.main{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #F0F0F0;
  color: #333
}
body{
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: #333;
}
a:focus-visible{
  outline: none;
}
ul{
  padding: 0!important;
}
li{
  list-style-type: none;
}
.row {
  --bs-gutter-x: 0 !important;
}